@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*,
*::before,
*::after { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #e0e0e0;
    --secondary:#524f4f;
    --background: #adadad;
}

body {
    min-height: 100vh;
    background: var(--background);
    overflow: hidden;
}

.menu{
    width: 100%;
    height: 101vh;
    background-color: #524f4f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
  position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);  
}

.menu .white{
    position: absolute;
    top: 0%;
    left: 2%;
    font-size: 200px;
    font-family: 'Anton', sans-serif;
    color: white;
}

.menu .black{
    font-size: 200px;
    font-family: 'Anton', sans-serif;
}

.menu > button {
	width: 400px;
    height: 130px;
    box-shadow: 13px 15px 94px -3px rgba(0,0,0,0.76);
-webkit-box-shadow: 13px 15px 94px -3px rgba(0,0,0,0.76);
-moz-box-shadow: 13px 15px 94px -3px rgba(0,0,0,0.76); 
	background:linear-gradient(to bottom, #ffffff 5%, #afafaf 100%);
	background-color:#ffffff;
	border-radius:15px;
	border:1px solid #afafaf;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:17px;
	padding: 0px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9e9fa8;
}
button:hover {
	background:linear-gradient(to bottom, #afafaf 5%, #ffffff 100%);
	background-color: #afafaf;
    scale: 1.01;
}
button:active {
	position:relative;
    scale: 0.95;
	top:1px;
}

#start-btn{
    font-size: 90px;
    font-family: 'Anton', sans-serif;
}


select{
    margin-top: 50px;
    width: 400px;
    height: 60px;
    -webkit-appearance: none;
    outline: none;
    box-shadow: 13px 15px 94px -3px rgba(0,0,0,0.76);
-webkit-box-shadow: 13px 15px 94px -3px rgba(0,0,0,0.76);
-moz-box-shadow: 13px 15px 94px -3px rgba(0,0,0,0.76); 
    background:linear-gradient(to bottom, #ffffff 5%, #afafaf 100%);
    background-color:#ffffff;
    border-radius:15px;
    border:1px solid #afafaf;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:17px;
    padding: 0px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #9e9fa8;
}




canvas{
    width: 1000px;
    height: 800px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: var(--primary);

    /*box shadow*/
    box-shadow: 10px 10px 58px 24px rgba(0,0,0,0.26);
-webkit-box-shadow: 10px 10px 58px 24px rgba(0,0,0,0.26);
-moz-box-shadow: 10px 10px 58px 24px rgba(0,0,0,0.26);
}

.range {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 1000px;
    height: 25px;

    -webkit-appearance: none;
    background: var(--secondary);
    outline: none;
    border-radius: 15px;
    border: 1px solid gray;
    overflow: hidden;

    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);

    /*box shadow*/
    box-shadow: 10px 10px 58px 24px rgba(0,0,0,0.26);
-webkit-box-shadow: 10px 10px 58px 24px rgba(0,0,0,0.26);
-moz-box-shadow: 10px 10px 58px 24px rgba(0,0,0,0.26);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 100px;
  height: 25px;
  background: #318CE7;
  cursor: pointer;
  border: 5px solid	#696969;
}

.health{
    position: absolute;
    top: 75%;
    left: calc(50% - 501px);
}

