@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*::before,
*::after { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #e0e0e0;
    --secondary:#151515;

}

body {

    min-height: 100vh;
    background: #151515;
}

canvas{
    width: 1000px;
    height: 80vh;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: var(--primary);
}

.range {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 1000px;
    height: 25px;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 100px;
  height: 25px;
  cursor: pointer;
  border: 4px solid var(--primary);
}